---
// Components
import DownloadButton from '../buttons/DownloadButton'
import RenderAppLogo from '../renders/RenderAppLogo.astro'
import RenderDevelopmentStatus from '../renders/RenderDevelopmentStatus.astro'
import RenderOS from '../renders/RenderOS.astro'

// Types
import type { JsonDescriptions } from '@/types/json'

// i18n
import { getLangFromUrl } from '@/i18n/utils'

interface Props {
  alternativeText: string
  descriptions: JsonDescriptions
  githubRepoName: string
  logoURL: string
  name: string
  osArray: string[]
  i18nURL: URL
  inDevelopment: boolean
  index?: number
}

const {
  alternativeText,
  descriptions,
  githubRepoName,
  logoURL,
  name,
  osArray,
  i18nURL,
  inDevelopment,
  index = 0
} = Astro.props

const lang = getLangFromUrl(i18nURL)
---

<article
  class={`
    bg-white rounded-lg shadow-md m-1.5 p-6 
    w-[calc(100%-10rem)]
  `}
>
  <h1 class="text-xl font-semibold text-center text-balance mb-3">
    {name}
  </h1>

  <div class="mb-3">
    <RenderDevelopmentStatus {i18nURL} {inDevelopment} />
  </div>

  <p class="text-center text-pretty mb-3">{descriptions[lang]}</p>

  <div class="mb-3">
    <RenderOS {osArray} {i18nURL} {inDevelopment} />
  </div>

  <div class="mb-3">
    <RenderAppLogo {logoURL} {alternativeText} {index} />
  </div>

  <div class="pt-2">
    <DownloadButton {githubRepoName} {lang} {inDevelopment} client:load />
  </div>
</article>
