---
// Components
import DownloadButton from '../buttons/DownloadButton'
import RenderAppLogo from '../renders/RenderAppLogo.astro'
import RenderDevelopmentStatus from '../renders/RenderDevelopmentStatus.astro'
import RenderOS from '../renders/RenderOS.astro'

// Types
import type { JsonDescriptions } from '@/types/json'

// i18n
import { getLangFromUrl } from '@/i18n/utils'

interface Props {
  alternativeText: string
  descriptions: JsonDescriptions
  githubRepoName: string
  logoURL: string
  name: string
  osArray: string[]
  i18nURL: URL
  inDevelopment: boolean
}

const {
  alternativeText,
  descriptions,
  githubRepoName,
  logoURL,
  name,
  osArray,
  i18nURL,
  inDevelopment
} = Astro.props

const lang = getLangFromUrl(i18nURL)
---

<article class="bg-white rounded-lg shadow-md mt-4 p-4 w-max">
  <h1 class="text-xl font-semibold text-center text-balance">
    {name}
  </h1>
  <RenderDevelopmentStatus {i18nURL} {inDevelopment} />
  <p class="text-center text-pretty">{descriptions[lang]}</p>
  <RenderOS {osArray} {i18nURL} {inDevelopment} />
  <RenderAppLogo {logoURL} {alternativeText} />
  <DownloadButton {githubRepoName} {lang} {inDevelopment} client:load />
</article>
