---
// Components
import DownloadButton from "../buttons/DownloadButton";

// Types
import type { AppWithLogo } from "@/types/supabase";

interface Props {
  apps: AppWithLogo[];
}

const { apps } = Astro.props;
---

<div
  class="grid grid-cols-2 max-sm:grid-cols-1 gap-4 mt-4 place-content-center"
>
  {
    apps.map((app) => {
      const { name, description, logoURL, alternativeText, githubRepoName } =
        app;

      return (
        <article class="bg-white rounded-lg shadow-md mt-4 p-4 w-max">
          <h1 class="text-xl font-semibold text-center text-balance">{name}</h1>
          <p class="text-gray-700 text-center text-pretty">{description}</p>
          <img
            src={logoURL}
            alt={alternativeText}
            class="mx-auto mt-3 flex items-center justify-center"
            width="125"
            height="125"
          />
          <div class="flex items-center justify-center mt-4">
            <DownloadButton githubRepoName={githubRepoName} client:load />
          </div>
        </article>
      );
    })
  }
</div>
